html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	width: 100%;
	margin: 0 auto;
	font-weight: 300;
	display: flex;
	justify-content: center;
	align-items: center;
}